<%= form_for [:admin, @master_reservation] do |f| %>
  <%= hidden_field_tag :gun_range_id, nil, value: @gun_range.id %>
  <%= hidden_field_tag :lane_id, nil, value: @lane.id %>
  <%= hidden_field_tag :date, nil, value: @date %>
  <%= hidden_field_tag :timeslots, nil, value: @times %>
  <%= hidden_field_tag :new_user, nil, value: true %>
  <%= f.hidden_field :gun_type, value: @gun_type %>
    <div class='form-group'>
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name, nil, class: 'form-control' %>
    </div>


    <div class='form-group'>
      <%= label_tag :last_name %>
      <%= text_field_tag :last_name, nil, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= label_tag :email %>
      <%= email_field_tag :email, nil, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :payment_method %>
      <%= f.select :payment_method, options_for_select(["Pay in Store", "Credit Card"]), class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.check_box :paid %>
      <%= f.label :paid %>
    </div>

    <%= f.submit 'Create User and Add to Class', class: 'btn btn-gtr-green' %>
<% end %>
