<div class='container'>
	<div class='row padding-top'>
		<h1 class='green'>Classes</h1>
    <p class=' border-bottom-white '></p>
		<p class='lead white'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
	</div>

	<div class='row'>
    <div class='col-md-12'>
        <% @training_sessions.each do |s| %>
          <h2 class='orange'><%= s.first.strftime("%A, %B %e, %Y") %></h2>
          <ul class=' bulletless no-pad-left'>
            <% s[1].each do |x| %>

              <li class='outline-well'>
                <div class='col-md-3 no-pad-left text-center'>
                  <h3><%= x.start_time.strftime("%l:%M %p") %> - <%= x.end_time.strftime("%l:%M %p") %></h3>
                </div>
                <div class='col-md-5 no-pad'>
                  <h2 class='gtr-primary no-margin-top no-margin-bottom'><%= x.training_class.name %></h2>
                  <p class='lead no-margin-bottom'><%= x.training_class.description.truncate(300) %></p>
                </div>

                <div class='col-md-2'>
                  <h1 class='orange no-margin-bottom'><%= number_to_currency(x.training_class.price) %></h1>

                </div>

                <div class='col-md-2'>
                  <br>
                  <%= link_to "Register", "#", class: 'btn btn-gtr-green btn-block btn-lg' %>
                </div>

              </li>

            <% end %>
          </ul>
        <% end %>


    </div>
  </div>

</div>
