<div class='row'>
	<div class='col-md-6'>
		<h3 class='green'>Order Details</h3>
		<p class='lead orange'><b><%= @order.user.full_name %></b></p>
		<p><b>Ordered at:</b> <%= @order.created_at.strftime('%m/%d/%y at %I:%M %p') %></p>
		<p><b>Payment Method:</b> <%= @order.payment_method %></p>
		<p><b>Order Filled:</b> <%= @order.completed %></p>		
	</div>

	<div class='col-md-6'>
		<h3 class='green'>Order Summary</h3>
		<% @order.order_items.each do |item| %>
			<li><%= item.menu_item.name %> x <%= item.quantity %></li>
		<% end %>
		<p class='lead'><b>Total Price:</b> <%= number_to_currency(@order.total_price) %></p>
		<br>
		<br>
		<%= link_to 'Mark as Filled', '#', class: 'btn btn-default' %>
	</div>
</div>