<div class='row'>
	<div class='col-md-12'>
		<h2>Order List for Frankie's Cafe</h2>

		<table class='table'>
			<thead>
				<tr>
					<th>Customer Info</th>
					<th>Order Info</th>
					<th>Delivery Address</th>
					<th>Payment</th>
					<th>Order Completed?</th>
				</tr>
			</thead>

			<tbody>
				<% @orders.each do |order| %>
					<tr>
						<td>
							<p><b><%= order.user.full_name %></b><br>
							<%= order.user.email %></p>
						</td>

						<td>
							<p><b>Delivery:</b> <%= order.delivery %><br>
								<% order.order_items.each do |item| %>
									<span class='orange'><%= "- #{item.menu_item.name} x #{item.quantity}" %></span> <br>
								<% end %>
							</p>
						</td>

						<td>
							<p>
								<% if order.order_delivery_address.present? %>
									<%= order.order_delivery_address.address %><br>
									<%= order.order_delivery_address.city %>, <%= order.order_delivery_address.state %> <%= order.order_delivery_address.zip %>
								<% end %>

							</p>
						</td>

						<td>
							<p><%= order.payment_method %></p>
						</td>

						<td>
							<p><%= order.completed %></p>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
