<div class='container'>
  <div class='col-md-6 col-md-offset-3 well'>
      <h3 class='gray no-margin-top text-center'>My Order</h3>

      <% @new_items.each do |item| %>
        <h4 class='dark-green'><%= item.menu_item.name %> x <%= item.quantity %><span class='pull-right'><%= number_to_currency(item.price*item.quantity) %></span></h4>
      <% end %>
      <p class='border-bottom-gray'></p>

      <h3 class='black'>Total: <span class='pull-right'><%= number_to_currency(@item_total) %></span></h3>

    <% if @payment_method == 'cash' %>
      <%= render 'cash_form' %>
    <% else %>
      <%= render 'cc_form' %>
    <% end %>
  </div>
</div>
