<h4 class='green'><%= link_to "Can't find user in system? Click here.", new_admin_user_training_session_url(training_session: @training_session.id, new_user: true) %></h4>
<%= form_for [:admin, @user_training_session] do |f| %>
    <%= f.hidden_field :training_session_id, value: @training_session.id %>
    <div class='form-group'>
      <%= f.label :user_email, "Last Name" %>
      <%= f.text_field :user_email, data: {autocomplete_source: admin_users_url}, class: 'form-control', placeholder: 'Search by last name...' %>
    </div>

    <div class='form-group'>
      <%= f.label :payment_method %>
      <%= f.select :payment_method, options_for_select(["Pay in Store", "Credit Card"]), class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.check_box :paid %>
      <%= f.label :paid %>
    </div>

    <%= f.submit 'Save', class: 'btn btn-gtr-green' %>
<% end %>
