<div class='row padding-bottom'>
  <div class='col-md-12'>
    <%= link_to '<i class="fa fa-angle-double-left"></i> Back to All'.html_safe, admin_gun_ranges_url, class: 'pull-left orange' %>
  </div>
</div>

<div class='row padding-bottom'>
  <div class='col-md-6 col-md-offset-3'>
    <h2 class='green'><%= @gun_range.name %> <span ><%= link_to "Add Lane", new_admin_gun_range_lane_url(@gun_range), class: 'btn btn-gtr-green' %></span></h2>
  </div>
</div>


<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <table class='table'>
      <thead>
        <th>Lane</th>
        <th width='8%'></th>
        <th width='8%'></th>
      </thead>

      <tbody>
        <% @lanes.each do |lane| %>
          <tr id='range_<%= lane.id %>'>
            <td><%= lane.number %></td>
            <td><%= link_to 'Edit', edit_admin_gun_range_lane_url(lane.gun_range, lane), class: 'btn btn-default' %></td>
            <td><%= link_to 'Delete', admin_gun_range_lane_url(lane.gun_range, lane), class: 'btn btn-danger', method: 'delete', remote: true, data: {confirm: 'Are you sure you want to delete this range?'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
